.logo{
    width: 3em;
}
html,body{
    scroll-behavior: smooth;
}

.list-group {
    width: 50%; /* or any specific width */
    margin: 0 auto; /* to center the list */
}

.screenshot{
    width: 75%;
}

body{
    background-color: #F4F3F2;
}

p{
    font-size: 18px;
}

.list-group-item:hover{
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.options-exp li{
    margin-bottom: 1em;
}